@import 'tailwindcss/theme.css';
@import 'tailwindcss/utilities.css';

.quanta-devtools-root {
    font-family:
        ui-sans-serif,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        'Helvetica Neue',
        Arial,
        'Noto Sans',
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol',
        'Noto Color Emoji';
}

.quanta-devtools-root ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.quanta-devtools-root ::-webkit-scrollbar-track {
    background: rgba(15, 23, 42, 0.5);
}

.quanta-devtools-root ::-webkit-scrollbar-thumb {
    background: rgba(56, 178, 172, 1);
    border-radius: 3px;
}

.quanta-devtools-root ::-webkit-scrollbar-thumb:hover {
    background: rgba(44, 122, 123, 1);
}
